<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand" href="#">YOUR LOGO</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="header_menu" class="nav navbar-nav navbar-right" style="margin-right:-10%;">
                <li>
                    <a data-tr="home" href="#/home">Home</a>
                </li>
                <li>
                    <a data-tr="shop" href="#/shop">Shop</a>
                </li>
                <li>
                    <a data-tr="contact" href="#/contact">Contact</a>
                </li>
                <li>
                    <a href="#/login" ng-if="menu == false" class="nav__link" id="login">Log in</a>
                </li>
                <li>
                    <a href="#/logout" ng-if="menu == true" class="nav__link" id="logout">Log out</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-tr="lenguage">Lenguage</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="lang-btn" data-tr="Spanish" id="spanish">Spanish</a>
                        </li>
                        <li>
                            <a class="lang-btn" data-tr="Valencian" id="valencian">Valencian</a>
                        </li>
                        <li>
                            <a class="lang-btn" data-tr="English" id="english">English</a>
                        </li>
                        <li>
                            <a class="lang-btn" data-tr="Frison_Occidental" id="friocc">Frison Occidental</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <br><br>
            <div class="search__container" style="margin-top:-2%;margin-left:10%;position: absolute;">
                <form class="search__form">
                    <select id="marca" style="border-radius: 5px;" ng-model="selected_marca" ng-change="click_modelo(selected_marca)">
                            <option value="">Marca</option>
                            <option ng-repeat="marca_search in marcas_search" value="{{marca_search.Marca}}">{{marca_search.Marca}}</option>
                        </select>
                    <select id="modelo" style="border-radius: 5px;" ng-model="selected_modelo">
                            <option value="">Modelo</option>
                            <option ng-repeat="modelo_search in modelos_search" value="{{modelo_search.Modelo}}">{{modelo_search.Modelo}}</option>
                        </select>
                    <input type="text" id="autocom" autocomplete="off" style="border-radius: 5px;" ng-model="autocomplete" ng-change="click_autocomplete(selected_marca, selected_modelo, autocomplete)" />
                    <input type="button" class="btn btn-success " value="Search" id="search-btn" ng-click="click_search(selected_marca, selected_modelo, autocomplete)" />
                    <div id="search_complete" style="background-color:gray;color:white;">
                        <div id="search_auto" ng-click="click_search(selected_marca, selected_modelo, com.nombre)" ng-repeat="com in complete">{{com.city}}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>