<style>
    .bx-heart {
        content: url("frontend/view/img/heart_red_border.png");
        color: rgb(66, 66, 66);
        background-color: white;
        border-radius: 8px;
        width: 25px;
        height: 25px;
        position: absolute;
        margin-top: -25px;
    }
    
    .bxs-heart {
        content: url("frontend/view/img/heart_relleno.png");
        color: rgb(66, 66, 66);
        background-color: white;
        border-radius: 8px;
        width: 25px;
        height: 25px;
        position: absolute;
        margin-top: -25px;
    }
    
    .no-heart {
        content: url("frontend/view/img/heart.png");
        color: rgb(66, 66, 66);
        background-color: white;
        border-radius: 8px;
        width: 25px;
        height: 25px;
        position: absolute;
        margin-top: -25px;
    }
</style>
<div class="shop__container" style="background-color:gray;">
    <div class="shop__list" ng-show="show_list_product">
        <div id="todo" style="display: inline-flex;margin-top: 80px;">
            <div id="formulario">
                <div id="filter" style="width: 10%; margin-left: 20px; margin-right: 20px; margin-top: 25px;">
                    <div id="interior_formulario"><span>Marcas:</span><br>
                        <span>{{marcas}}</span>
                        <select id="select_marcas" class="filter_marcas">
                            <option value="">-</option>
                            <option ng-repeat="marcas in marcas" id="Alpine_id" value="Alpine"></option>
                        </select><br><br>
                        <span>Combustible:</span><br>
                        <select id="select_combustible" class="filter_combustible">
                            <option value="">-</option>
                            <option id="Diesel_id" value="Diesel">Diesel</option>
                        </select><br><br>
                        <input type="button" class="btn btn-secondary aplicar_filtros_button" id="apply_filters" value="Aplicar Filtros">
                    </div>
                </div>
            </div>
            <!-- <div ng-repeat="list in lists">
                <span>{{list}}</span>
            </div> -->
            <div id="container" class="container" style="display:flex;flex-direction: column-reverse;flex-wrap: wrap-reverse;">
                <div id="content" class="content row" style="width:60%;align-items: center;display: flex;flex-wrap: wrap;justify-content: space-between;margin-left:auto;margin-right:40%;">
                    <div id="interior" class="col-md-6" style="margin-bottom: 30px;" ng-repeat="list in lists">
                        <div id='{{list.ID}}' class="wrapper">
                            <div id="imagen" class="img" style="border-style:solid;border-color:#a7a7a7;border-radius: 10px;margin-top:5px;"><br>
                                <div class="car"><img style="width:306px;height:204.41px;" src='frontend/{{list.imagen}}'></div>
                                <div style="text-align:center;font-size:32px;font-weight:bold;">{{list.Marca}} {{list.Modelo}}</div>
                                <div style="text-align:right;font-size:18px;font-weight:bold;color:red;">{{list.precio}}</div>
                            </div>
                        </div>
                        <div class="list__heart" id='{{list.ID}}'><img id='like_{{list.ID}}' class="bx-heart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="shop__container">
    <div class="shop__list" ng-show="show_list_product">
        <br><br><br><br>
        <div class="filters__container">
            <form autocomplete="on" method="post" name="filter" id="filter">
                <div class="filters__content" ng-repeat="(key, filter) in filters">
                    <label class="filters__title">{{key}}</label>
                    <div class="filters__input" ng-repeat="value in filter">
                        <input class='check' id="{{key}}" ng-repeat="name in value" type='checkbox' ng-click="filter_products(name, key)" />
                        <label for='talla' ng-repeat="name in value" value='{{name}}'>{{name}}</label>
                    </div>
                    <br>
                </div>
            </form>
        </div>
        <div class="shop__list">
            <div class="list__container">
                <div class="list__content" id="list_product" ng-repeat="product in list_products">
                    <div class='list__product' id='{{product.codigo_producto}}'>
                        <div class='list__heart' id='{{product.codigo_producto}}' ng-click="add_favs()">
                            <i id='like' class='bx {{product.favs_class}}'> </i>
                        </div>
                        <div class='list__imges' id='{{product.codigo_producto}}' ng-click="load_details(product.codigo_producto)">
                            <img class='list__img' src='http://localhost/framework_PHP_OO_MVC_AngularJS/frontend/{{product.images}}'>
                        </div>
                        <div class='list__data' id='#'>
                            <div class='list__brand'>
                                <div class='list__name'>{{product.nombre}}</div>
                                <div class='list__price'>{{product.precio}}</div>
                            </div>
                            <div class='list__descriptionc'>
                                <div class='list__codigo_producto'> {{product.codigo_producto}} </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ul style="display: flex; align-items: center; justify-content: center">
            <li><a href="" ng-click="change_page(current_page - 1)" ng-show="show1">Previous</a></li>
            <li><a href="" ng-repeat="page in pages" ng-click="change_page(page)">{{page}}</a></li>
            <li><a href="" ng-click="change_page(current_page + 1)" ng-show="show2">Next</a></li>
        </ul>
    </div>

    <div class="shop__details" ng-show="show_details">
        <div class='container py-xl-5 py-lg-3'>
            <div class='row' ng-repeat="product in list_products">
                <div class='col-lg-6 left-wthree-img text-right'>
                    <img src='http://localhost/framework_PHP_OO_MVC_AngularJS/frontend/{{product.images}}' alt='' class='img-fluid mt-5' />
                    <div class='list__heart' id='{{product.codigo_producto}}' ng-click="add_favs()">
                        <br><br><br><br><br>
                        <i id='like' class='bx {{product.favs_class}}'> </i>
                    </div>
                </div>
                <div class='col-lg-6 about-right-faq'>
                    </br>
                    </br>
                    </br>
                    </br>
                    <h3 class='text-da'>{{product.nombre}}</h3>
                    <ul class='w3l-right-book mt-4'>
                        <li>Codigo Producto: {{product.codigo_producto}}</li>
                        <li>Nombre: {{product.nombre}}</li>
                        <li>Precio: {{product.precio}}</li>
                        <li>Talla: {{product.talla}}</li>
                        <li>Color: {{product.color}}</li>
                        <li>Descripcion: {{product.descripcion}}</li>
                    </ul>
                    <button id='product.codigo_producto' class='button' ng-click='add_cart(product.codigo_producto)'>Add To Cart</button>
                    <a class='button' href="#/shop">Volver</a>
                </div>
            </div>
            <br>
            <br>
            <div class="cat">
                <div class="services__details" ng-repeat="item in api_content.items">
                    <img src='{{item.volumeInfo.imageLinks.smallThumbnail}}' alt='' class='services__img' id='{{item.volumeInfo.title}}'>
                    <h3 class='services__title'>{{item.volumeInfo.title}}</h3>
                </div>
            </div>
        </div>
    </div> -->