<style>
    .bx-heart {
        content: url("frontend/view/img/heart_red_border.png");
        color: rgb(66, 66, 66);
        background-color: white;
        border-radius: 8px;
        width: 25px;
        height: 25px;
        position: absolute;
        margin-top: -25px;
    }
    
    .bxs-heart {
        content: url("frontend/view/img/heart_relleno.png");
        color: rgb(66, 66, 66);
        background-color: white;
        border-radius: 8px;
        width: 25px;
        height: 25px;
        position: absolute;
        margin-top: -25px;
    }
    
    .no-heart {
        content: url("frontend/view/img/heart.png");
        color: rgb(66, 66, 66);
        background-color: white;
        border-radius: 8px;
        width: 25px;
        height: 25px;
        position: absolute;
        margin-top: -25px;
    }
</style>
<div class="shop__container" style="background-color:gray;">
    <div class="shop__list" ng-show="show_list_cars">
        <div id="todo" style="display: inline-flex;margin-top: 80px;">
            <div id="formulario" ng-show="show_filters">
                <div id="filter" style="width: 10%; margin-left: 20px; margin-right: 20px; margin-top: 25px;">
                    <div id="interior_formulario"><span>Marcas:</span><br>
                        <select id="select_marcas" class="filter_marcas" ng-model="select_marcas">
                            <option value="">-</option>
                            <option ng-repeat="marcas in marcas" id="{{marcas.nombre_marca}}" value="{{marcas.nombre_marca}}">{{marcas.nombre_marca}}</option>
                        </select><br><br>
                        <span>Combustible:</span><br>
                        <select id="select_combustible" class="filter_combustible" ng-model="select_combustible">
                            <option value="">-</option>
                            <option ng-repeat="combustible in combustibles" id="{{combustible.nombre_tipo}}_id" value="{{combustible.nombre_tipo}}">{{combustible.nombre_tipo}}</option>
                        </select><br><br>
                        <input type="button" class="btn btn-secondary aplicar_filtros_button" id="apply_filters" value="Aplicar Filtros" ng-click="filter_products(select_marcas, select_combustible)">
                        <br><input type="button" class="btn btn-danger borrar_filtros" id="borrar_filtros" value="Borrar Filtros" ng-show="show_red_button" ng-click="remove_filters()">
                    </div>
                </div>
            </div>
            <div id="container" class="container" style="display:flex;flex-direction: column-reverse;flex-wrap: wrap-reverse;" ng-show="show_list">
                <div id="content" class="content row" style="width:60%;align-items: center;display: flex;flex-wrap: wrap;justify-content: space-between;margin-left:auto;margin-right:40%;">
                    <div id="interior" class="col-md-6" style="margin-bottom: 30px;" ng-repeat="list in lists">
                        <div id='{{list.ID}}' class="wrapper" ng-click="load_details(list.ID)">
                            <div id="imagen" class="img" style="border-style:solid;border-color:#a7a7a7;border-radius: 10px;margin-top:5px;"><br>
                                <div class="car"><img style="width:306px;height:204.41px;" src='frontend/{{list.imagen}}'></div>
                                <div style="text-align:center;font-size:32px;font-weight:bold;">{{list.Marca}} {{list.Modelo}}</div>
                                <div style="text-align:right;font-size:18px;font-weight:bold;color:red;">{{list.precio}}€</div>
                            </div>
                        </div>
                        <div class="list__heart" id='{{list.ID}}'><img id='{{list.ID}}' class="{{list.like_class}}" ng-click="add_like()"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="details_2" class="text-center" style="margin-top: -90px;" ng-show="show_details">
        <div id="general" style="margin-left:30%;margin-right: 30%;"><br><br><br><br><br><br><br>
            <fieldset id="contenido_pag">
                <legend style="color:white;width:auto;">{{details[0][0].Marca}} {{details[0][0].Modelo}}</legend>
                <img src="frontend/{{details[1][0][0].ruta_imagen}}">
                <div id="datos_car" style="color:white;margin-top:-120px;"><br><br><br><br><br><br><br><br>
                    <table style="width:30%;margin-left: auto;margin-right: auto;background-color:#7a7a7a;border-style:groove;border-radius: 10px;border-color: #222222;">
                        <tbody>
                            <tr style="font-size:26px;margin-top:20px;">
                                <td style="text-align:left;">Precio: </td>
                                <td style="text-align:right;color:red;">{{details[0][0].precio}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding-left:4px;">Fabricante: </td>
                                <td style="text-align:right;padding-right:4px;">{{details[0][0].Marca}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding-left:4px;">Modelo: </td>
                                <td style="text-align:right;padding-right:4px;">{{details[0][0].Modelo}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding-left:4px;">Motor: </td>
                                <td style="text-align:right;padding-right:4px;">{{details[0][0].Motor}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding-left:4px;">Tipo de Combustible: </td>
                                <td style="text-align:right;padding-right:4px;">{{details[0][0].Tipo}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding-left:4px;">Caballos: </td>
                                <td style="text-align:right;padding-right:4px;">{{details[0][0].Caballos}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding-left:4px;">Numero de Bastidor: </td>
                                <td style="text-align:right;padding-right:4px;">{{details[0][0].NBast}}</td>
                            </tr>
                            <tr>
                                <td style="text-align:left;padding-left:4px;">Matricula: </td>
                                <td style="text-align:right;padding-right:4px;">{{details[0][0].Matricula}}</td>
                            </tr>
                        </tbody>
                    </table><br><br><br><br><br></div>
            </fieldset>
        </div>
        <a class='button' class="btn btn-secondary aplicar_filtros_button" href="#/shop">Volver</a>
        <div class="list__heart" id="{{details[0][0].ID}}" style="margin-left:32.5%;"><img id="like_{{details[0][0].ID}}" class="bx-heart"></div>
        <h3 class="brand__title" style="background-color:#7a7a7a">Relacionados</h3>
    </section>
</div>