<main class="l-main" style="background-color: grey;">
    <!--========== CAROUSEL ==========-->
    <!-- <div class="carousel">
        <div class="carousel__container">
            <button class="carousel__prev">
                    <i class='bx bx-chevron-left'></i>
                </button>
            <div class="carousel__list">
                <div class="carousel__elements" ng-repeat="slide in slides">
                    <img class='carousel__img' id='' src='{{slide.list}}' ng-click="redirect_shop('categoria', slide.categoria)" alt=''>
                </div>
            </div>
            <button class="carousel__next">
                    <i class='bx bx-chevron-right'></i>
                </button>
        </div>
        <div class="carousel__indicator"></div>
    </div> -->
    <!--========== MARCA ==========-->
    <br><br>
    <section id="port-sec" class="text-center" style="margin-top: -50px;">
        <h1 style="color:white;">Marcas</h1>
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-12 col-sm-12">
                    <ul id="lista" class="portfolio-items col-3">
                        <li id="{{marca.nombre_marca}}" class="portfolio-item" ng-repeat="marca in marcas">
                            <div class="item-main" style="background-color: grey;">
                                <div class="portfolio-image"><img id="{{marca.nombre_marca}}" src="frontend/{{marca.imagen_marca}}" alt="">
                                    <div class="overlay"><a class="preview btn btn-primary categoria" title="Image Title Here" href="">Ver {{marca.nombre_marca}}</a></div>
                                </div>
                                <h5>{{marca.nombre_marca}}</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--========== TIPOS ==========-->
    <section id="port-sec" class="text-center" style="margin-top: -50px;">
        <h1 style="color:white;">Tipo de Combustible</h1>
        <div class="container">
            <div class="row pad-row">
                <div class="col-md-12 col-sm-12">
                    <ul id="lista" class="portfolio-items col-3">
                        <li id="{{tipo.nombre_tipo}}" class="portfolio-item" ng-repeat="tipo in tipos">
                            <div class="item-main" style="background-color: grey;">
                                <div class="portfolio-image"><img id="{{tipo.nombre_tipo}}" src="frontend/{{tipo.imagen_tipo}}" alt="">
                                    <div class="overlay"><a class="preview btn btn-primary categoria" title="Image Title Here" href="">Ver {{tipo.nombre_tipo}}</a></div>
                                </div>
                                <h5>{{tipo.nombre_tipo}}</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>